body {
  background-color: rgb(34, 33, 33);
  color: aliceblue;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h1,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

button {
  cursor: pointer;
}
